<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Calcul de l'indemnité de grand déplacement
  </h1>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

  <div>
    <label for="durée">
      Durée du déplacement
    </label>
    <input id="durée" type="text" formControlName="durée du déplacement"> jours
  </div>
  <div>

    <input id="région parisienne" type="checkbox" formControlName="région parisienne">
    <label for="région parisienne">
      Déplacement en région parisienne
    </label>
  </div>

  <button class="button" type="submit">Calculer</button>

</form>
  <app-result [situation]="situation"></app-result>
</div>
